 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
  body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962 !important;
  }
body{
			background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)) ,url('Love_hands_1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100vh;
			position: relative;
			overflow-x: hidden;
		}

		.card-header,.card-footer{
			pointer-events: none;
			transition: transform all .5s;
			font-size: 1.2rem;
			font-weight: bold;
			border: none !important;
			background: transparent;
		}
		header{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			/* background-color: rgba(0, 0, 0, 0.5); */
		}
		.card{
			
			/* width: 70%; */
                           height: 70%;
		}
		.set{
			background: transparent;
			color: white !important;
			transition: .5s;
			transform: scale(0.9);
			border: none !important;
			width: 70%;
		}
		.card:hover, .card:focus > .card{
			background: rgba(0, 0, 0, 0.25);
			padding: .6rem;
			transform: scale(1);
		}
		.card:hover > .card-header{
			background: linear-gradient(to top right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
			color: white;
			opacity: .75;
		}
		.card:hover > .card-footer{
			background: linear-gradient(to top right, rgba(0, 255, 0, 0.5), rgba(255, 255, 255, 0.2));
			opacity: .75;
			color: white;
		}
		form{
			width: 70%;
			justify-content: center;
			align-items: center;
		}
		input{
			background: transparent;
			color: black !important;
			font-weight: bold;
		}
		.card-body{
			transform: scaleY(0);
                        height:0% !important;
			transition: .5s;
		}
		.card-header:hover > .card-body{
			transform: scaleY(1);
                        height:100%;
		}
		#tips{
			background: transparent !important;
			border: none;
			outline: none !important;
			color: white !important;
			pointer-events: none;
		}
		@media (min-width: 769px) and (max-width: 1024px){
			form{
				width: 100%;
			}
		}
		@media (min-width: 426px) and (max-width: 768px){
			header{
				width: 150% !important;
			}
		}

		@media (min-width: 376px) and (max-width: 425px){
			
			body{
			background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)) ,url('Love_hands_2.png');
		}
			.card{
				transform: scale(5);
			}
			header{
				width: 150% !important;
			}
			.set{
				width: 90% !important;
			}
}
